:root {
  --darkmode-text: white;
  --darkmode-background: #1f1c25;
  --brand-color-pink: #dd1367;
  --brand-color-yellow: #ffe01b;
  --brand-color-blue: #26bde2;
}

body {
  background-color: var(--darkmode-background);
  max-width: 1024px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Thasadith", sans-serif;
  color: var(--darkmode-text);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

p {
  font-family: "PT Sans", sans-serif;
  color: var(--darkmode-text);
  font-size: 22px;
  font-weight: normal;
}

.homepage-caption {
  display: block;
  margin: 180px 0 0 50px;
  line-height: 1.5;
}

.homepage-caption h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.homepage-caption p {
  font-size: 48px;
  font-weight: bold;
}

.hero-navigation {
  display: block;
  margin-left: 50px;
  margin-bottom: 70px;
}

.hero-navigation-links {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  min-width: 210px;
}

.hero-navigation-arrows {
  font-size: smaller;
}

.about-link {
  text-decoration: none;
  color: var(--brand-color-yellow);
  margin-left: 21px;
}

.about-link:hover {
  color: var(--brand-color-yellow);
  font-size: 33px;
  text-decoration: underline;
  transition: ease-in-out 200ms;
}

.hero-navigation-about-left {
  min-width: 380px;
  max-width: 380px;
  color: var(--darkmode-background);
}

.contact-link {
  text-decoration: none;
  color: var(--brand-color-blue);
}

.contact-link:hover {
  color: var(--brand-color-blue);
  font-size: 33px;
  text-decoration: underline;
  transition: ease-in-out 200ms;
}

.hero-navigation-contact-left {
  min-width: 359px;
  max-width: 359px;
  color: var(--darkmode-background);
}

.projects-link {
  text-decoration: none;
  color: var(--brand-color-pink);
}

.projects-link:hover {
  color: var(--brand-color-pink);
  font-size: 33px;
  text-decoration: underline;
  transition: ease-in-out 200ms;
}

.featured-projects {
  margin: 50px;
}

.project-thumbnail {
  min-width: 280px;
  max-width: 380px;
  display: block;
  margin: 0 auto;
}

.project-thumbnail-frame {
  min-width: 300px;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 11px;
  background-color: var(--brand-color-pink);
}

.btn-darkmode {
  background-color: white;
  border-radius: 50pt;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 30px;
  letter-spacing: 3px;
}

@media (max-width: 568px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .homepage-caption {
    margin: 130px 0 0 20px;
  }

  .homepage-caption h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .homepage-caption p {
    font-size: 24px;
    font-weight: bold;
  }

  .hero-navigation {
    margin-left: 20px;
  }

  .hero-navigation-links {
    padding-left: 0px;
    font-size: 20px;
  }

  .about-link {
    margin-left: 0px;
  }
  .contact-link {
    display: none;
  }

  .featured-projects {
    margin: 0px;
  }

  .featured-projects p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }

  .btn-darkmode {
    display: block;
    margin: 0 25px;
  }
}

@media (max-width: 992px) {
  .featured-projects h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .featured-projects p {
    padding: 20px;
  }
}
