h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Thasadith", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
}

.homepage-caption h2,
p {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
