:root {
  --darkmode-text: white;
  --darkmode-background: #1f1c25;
  --brand-color-pink: #dd1367;
  --brand-color-yellow: #ffe01b;
  --brand-color-blue: #26bde2;
}

body {
  background-color: var(--darkmode-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Thasadith", sans-serif;
  color: var(--darkmode-text);
}

p {
  font-family: "PT Sans", sans-serif;
  color: var(--darkmode-text);
}

h1 {
  font-size: 72px;
}

.homepage-caption h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.homepage-caption p {
  font-size: 48px;
  font-weight: bold;
}

.hero-navigation-links {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  min-width: 200px;
}

.about-link {
  text-decoration: none;
  color: var(--brand-color-yellow);
}

.hero-navigation-about-left {
  min-width: 380px;
  max-width: 380px;
}

.contact-link {
  text-decoration: none;
  color: var(--brand-color-blue);
}

.hero-navigation-contact-left {
  min-width: 359px;
  max-width: 359px;
}

.hero-navigation-arrows {
  font-size: smaller;
}

.about-link:hover {
  color: var(--brand-color-yellow);
}
